<br>
<div class="container">
    <h3 style="color: white;">View Code</h3>
<div class="d-flex justify-content-start">
<div class="row">
    <div class="col">
        <select class="drop" (change)="DropSelectedIndexChanged($event)">
            <option value="default" class="drop-li">Select Technology</option>
            <option class="drop-li" *ngFor="let item of Technology" [value]="item.Technology">
                {{item.Technology| titlecase}}
            </option>
        </select>
    </div>
</div>
</div>
<hr>
<div class="row" *ngIf="CodeForList.length>0">
    <div class="col-sm-4">
        <ngb-accordion  #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel title="{{selectedValue | titlecase}}">
                <ng-template ngbPanelContent>
                    <div class="list-group" >
                        <!-- <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                            A second link item
                        </a> -->
                        <a class="list-group-item list-group-item-action"*ngFor="let item of CodeForList" (click)="GetCodeBody(item.CodeFor)">{{item.CodeFor}}</a>
                    </div>
                </ng-template>

            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="col-sm-8 mobiledevice"  >
        <div *ngIf="Code!=null">
        <h2 style="color: white;">{{Code.CodeFor}}</h2>
        <br>
        <div *ngFor="let item of Codes">
            <div *ngFor="let i of item">
            <h4 style="color: white;">{{i.PageTitle | titlecase}}</h4>
            <p style="color: white;"> 
                {{i.code}}
            </p>
            <br>
            <br>
        </div>
        </div>
    </div>
    </div>
</div></div>