<h2  style="color: white; margin: 6px;">Dashboard</h2>

<div class="container justify-content-center">
	<div class="row">
	<div class="card bg-transparent border-secondary mb-3" style="max-width: 540px;">
		<div class="row g-0">
		  <div class="col-md-4 flex-shrink-0">
			<img src="../../../assets/developers.png" class="img-fluid rounded-start" alt="...">
		  </div>
		  <div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title" style="color: white;">Add Code</h5>
			  <p class="card-text" style="color: white;">Add code for your reference. Your personal code keeper.</p>
			  <a routerLink="/add" class="card-link">Add here</a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="card bg-transparent border-secondary mb-3" style="max-width: 540px;">
		<div class="row g-0">
		  <div class="col-md-4 flex-shrink-0">
			<img src="../../../assets/notePadView.png"  style="width: 8em; margin: 17px;" class="img-fluid rounded-start" alt="...">
		  </div>
		  <div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title" style="color: white;">View Code</h5>
			  <p class="card-text" style="color: white;">View code your saved code in few steps.</p>
			  <a routerLink="/view" class="card-link">View here</a>
			</div>
		  </div>
		</div>
	  </div>
	  </div>
	  <div class="row">
		<div class="card bg-transparent border-secondary mb-3" style="max-width: 540px;">
		  <div class="row g-0">
			<div class="col-md-4 flex-shrink-0">
			  <img src="../../../assets/note.png"  style="width: 8em; margin: 17px;" class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
			  <div class="card-body">
				  <h5 class="card-title" style="color: white;">Notes Section</h5>
				<p class="card-text" style="color: white;">Maintain your key notes here.</p>
				<a routerLink="/note" class="card-link">Click here</a>
			  </div>
			</div>
		  </div>
		</div>
		</div>
</div>